*{
    margin: 0;
    padding:0;
}

html, body{
    height: 100%;
    background: linear-gradient(180deg, rgba(13,25,150,1) 0%, rgba(27,26,112,1) 34%, rgba(25,24,88,1) 66%, rgba(6,6,23,1) 100%);
}

body{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.avatar{
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
}

h2{
    font-size: 16px;
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 33px;
    text-decoration: none;
}

 .blocos{
    background-color: white;
    margin: 10px 20px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px white ;
    align-items: center;
}

.blocos h3{
    color: rgba(54,77,204,1);
}

.blocos p{
    color: rgb(97, 97, 97);
}

.blocos a{
    text-decoration: none;
}
